/*Vars para mis sitios*/ 

/*Colores*/ 
$resaltar:#ffdf00;
$colorStyle1: white;
$colorstyle2:black;
$colorStyle3:#595959;
$back-colorStyle1:white;
$back-colorStyle2:black;
$back-colorStyle3:#ebedee;

/*Estilos de Nav para mis sitios*/
.navbar {
    .divNav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand{
            font-size: 1.6rem;
            font-weight: 500;
            background-color: $back-colorStyle2;
            color: $colorStyle1;
            padding: 1rem;
            border-radius: 2rem;
            transition-timing-function: ease;
            transition: .5s;

            @media screen and (max-width:425px){
                font-size: 1rem;
            }

            &:hover{
                transform: scale(1.2, 1.2);
            }
        }

        .navbar-toggler{
            border:solid;
            border-radius: .5rem
        }

        .enlaces {
            flex-grow: 0;
            font-size: 1.5rem;

            .navbar-nav {
                .nav-item {
                    margin: .2rem;
                    text-align: center;

                    .nav-link {
                        padding: 1rem;
                        color: $colorstyle2;
                        border-radius: .2rem;
                        transition: .5s;

                        &:hover {
                            background-color: $back-colorStyle2;
                            color: $colorStyle1;
                        }
                    }

                    #contact-button {
                        background-color: $back-colorStyle2;
                        color: $colorStyle1;
                    }
                }
            }
        }
    }
}

/*Estilos de Footer para mis sitios*/
footer{
    background-color: $back-colorStyle2;
    color: $colorStyle1;
    padding: 4rem 0;
    text-align: center;
}