.main-wrapper-productos{
    header{
        color: $resaltar;
        background-color: $back-colorStyle2;
        padding: .8rem 0;
        text-align: center;
        text-transform: uppercase;
    }

    main{
        .section-productos{
            display: flex;
            background-color: $back-colorStyle3;
    
            .navBar-productos{
                .enlaces{
                    .list-item{
                        .list-link{
                            display: inline-block;
                            text-decoration: none;
                            color: $colorstyle2;
                            margin-top: .7rem;
                        }
                    }
                }
            }

            .productos{
                width: 100%;
                margin: 2rem;

                #figuras{
                    display: grid;
                    grid-auto-flow: dense;
                    grid-auto-rows: 30rem;
                    grid-template-columns: repeat(auto-fill,minmax(14rem,1fr));
                    gap: 1rem;
                    .card{
                        width: 15rem;
                        border: solid .2rem $colorstyle2;
                        border-radius: .5rem;
                        text-align: center;

                        .imgProducto{
                            width: 100%;
                        }

                        .card-title{
                            margin-bottom: 3rem;
                            color: $colorStyle3;
                        }
                        a{
                            margin-bottom: 1rem;

                            .button{
                                background-color: $back-colorStyle2;
                                color: $colorStyle1;
                                border-radius: .5rem;
                                padding: .2rem 2rem;
                                margin: 0 1rem;
                                font-size: 1.5rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}